.tracking-timeline{
  margin: 3rem 1rem;
  background-color: #ffff;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.tracking-label{
    display: block;
    font-size: .75rem;
    font-weight: 500;
    color: #6B7280; /* Gris */
    text-transform: uppercase;
    letter-spacing: .08em;
    margin-bottom: 4px;
}

.tracking-number{
    font-size: 1.1rem;
    font-weight: 700;
    color: #111827;
    margin: 0;
}

.timeline-title-badge{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  margin-bottom: 2rem;
}

.badge{
    display: inline-flex;
    align-items: start;
    font-size: .9rem;
    font-weight: 600;
}

.badge i{
    font-size: 1rem;
    
}

.badge-container{
  height: 30%;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border-radius: 10px;
  padding: 12px 10px;
  
}

/* Estado: En tránsito */
.badge-container.in-transit{
    background: #EAF4FF;
    color: #2563EB;
}

/* Opcionales */
.badge-container.delivered{
    background: #ECFDF3;
    color: #16A34A;
}

.badge-container.pending{
    background: #FFF7E6;
    color: #D97706;
}

.badge-container.cancelled{
    background: #FEF2F2;
    color: #DC2626;
}


.tracking-details{
  margin: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 3rem 1rem;
}

/* ESTILOS TIMELINE */

.timeline-container{
  display: flex;  
}

/*ESTILOS DE CADA CIRCULO DEL TIMELINE */

.timeline-step{
  width: 2rem;
  height: 2rem;
  border: 2px solid #ccc;
  border-radius: 50%;
}

/*ESTILOS CONTAINER QUE CONTINE CADA CIRCULO Y LINEA DEL TIMELINE*/

.step-container{
  display: flex;
  align-items: center;
}

.step-container::before{
  content: '';
  height: 1px;
  width: 20px;
  border: 2px #ccc inset;
}

.step-container:last-child::after{
  content: '';
  height: 1px;
  width: 20px;
  border: 2px #ccc inset;
}

/*ESTADO DE COMPLETADO*/

.step-container.completed:last-child::after{
  border-color: blue;
}

.step-container.completed .timeline-step{
 border-color: blue; 
 background-color: blue;
}

.step-container.completed::before{
  border-color: blue;
}

/* ESTILOS ICONO DEL CHECK */

.bi.bi-check-lg{
  position: relative;
  left: 20%;
  color: white;
  size: 0px; 
}

/*ESTILOS FIGURA ESTADO ACTUAL(PRESENTE) */

.present-figure{
  width: 50%;
  height: 50%;
  border-radius: 50%;
  position: relative;
  left: 25%;
  top: 25%;
  background-color: blue;
}


/*ESTADO PRESENTE */

.step-container.present .timeline-step{
 border-color: blue; 
}

.step-container.present::before{
  border-color: blue;
}